.main-top{
    display:flex;
    justify-content:space-between;
}

.breadcrump-item{
    font-size:16px;
    font-weight: 700;
    color: #D3D3D3 !important;
}

.breadcrump-item-active{
    color: black !important;
}